tmp/
dist/
node_modules/
__pycache__/
.idea/
.env*
.env.webpack
.env.webpack.dev
.env.webpack.prod
.gradle/
.serverless/
node-v*-headers.tar.gz
.deploy/
.build_*
*.swp
*.pem
*.crt
*.key
*.cer
.nyc_output/
coverage/
dist/
config.unit-test.mjs
config*.mjs
config*.mts
!config.base.mts
!config.base.mjs
ai-only/
reports/
tmp/
.odoo.env
.venv
test_results/
